.gray_section .left{
    height: 30rem;
    background: rgb(204, 204, 204);
}


.gray_section .up{
    height: 14.5rem;
    background: rgb(204, 204, 204);
}
.gray_section .down{
    height: 14.5rem;
    background: rgb(204, 204, 204);
}